Source: snap
Maintainer: Debian Med Packaging Team <debian-med-packaging@lists.alioth.debian.org>
Uploaders: Steffen Moeller <moeller@debian.org>,
           Andreas Tille <tille@debian.org>,
           Pierre Gruet <pgtdebian@free.fr>
Section: science
Priority: optional
Build-Depends: debhelper-compat (= 13),
               help2man
Standards-Version: 4.5.1
Vcs-Browser: https://salsa.debian.org/med-team/snap
Vcs-Git: https://salsa.debian.org/med-team/snap.git
Homepage: https://github.com/KorfLab/SNAP
Rules-Requires-Root: no

Package: snap
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: location of genes from DNA sequence with hidden markov model
 SNAP is a general purpose gene finding program suitable for both eukaryotic
 and prokaryotic genomes. SNAP is an acroynm for Semi-HMM-based Nucleic Acid
 Parser.
